.App {
  text-align: center;
}

h1 {
  color: brown;
}

p {
  color: blueviolet;
}

h5 {
  color: rgb(72, 94, 28);
}

.buttonContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

button {
  margin: 5px;
}